<h3>Step 1</h3>
<p>First of, we have to build our initial portfolio structure.</p>
<p>Click the 'management' link under the section 'Portfolio' of the main menu.</p>
<%= image_tag "tut/t1.png" %>
<p>Now on the right side, you will see two buttons at the bottem.</p>
<p>Click the first one to add stocks or stocks of an industry.</p>
<%= image_tag "tut/t2.png" %>
