<h3>Step 4</h3>
<p>OK, now it's time to start the critical training of Virtual Portfolio Manager</p>
<p>First, we have to create some VPMs: choose 'Management' and click the first button.</p>
<img src="/images/tut/t8.png"/>
<p>Then you can define the range of value for PM's "personality" </p>
<img src="/images/tut/t9.png"/>
<p>Click 'generate'.</p>
<p>*These value determines how many PMs will be generated. So, just put a small number, otherwise it will take a very long time to train.</p>
