<h3>Step 5</h3>
<p>We can start training now by click the link in the main menu.</p>
<img src="/images/tut/t10.png"/>
<p>Please be patient. This process may take a very long time, depending on the length of time, the number of stocks and the number of PMs.</p>
<p>...</p>
<p>Finally when it's done, you will see the performance of every PM: good or bad.</p>
<img src="/images/tut/t11.png"/>
<p>It may not be easy to view so much data. The alternative way is to use 'Hotspot chart'.</p>
<img src="/images/tut/t12.png"/>
