<%= form_tag %>
<br>User name:<br>
<%= text_field("user", "name") %><br>
Password:<br>
<%= password_field("user", "password") %>
<br><br>
<input type="submit" value=" LOGIN " />
<%= end_form_tag %>
